<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Hoja de vida</title>
</head>
<body>

<h1>José David Montesino Hoyos </h1>
Ingeniero de Sistemas  
Celular: 3168291859
Cr 4E # 21A-17 Barrio Villa Clara sur Urb. Rosa Mery
Valledupar - Cesar
_____________________________________________________
DATOS PERSONALES
FECHA DE NACIMIENTO:	29 DE DICIEMBRE DE 1981
LUGAR DE NACIMIENTO:	PELAYA - CESAR
IDENTIFICACIÓN:	CC. 12.435.718 DE VALLEDUPAR
ESTADO CIVIL:	UNION LIBRE
LIBRETA MILITAR:	8112292127
TELEFONO DE OFICINA:	5747970
E-MAIL:	JOSEDAVIDMONTESINO@YAHOO.ES

PERFIL PROFESIONAL
Ingeniero de sistemas con alta experiencia profesional en el desarrollo de Sistemas de información y base de datos, con capacidad de adaptarse a cualquier rama del conocimiento determinada para aplicar los conceptos de la informática y desarrollar procesos de sistematización, alta experiencia en empresas relacionadas con los servicios de salud, entidades públicas y servicios de soporte técnico, con capacidad de liderazgo para sacar adelante cualquier proyecto.
ESTUDIOS REALIZADOS
SECUNDARIA	COLEGIO NACIONALIZADO INTEGRADO
LUGAR	PELAYA - CESAR
TITULO OBTENIDO	BACHILLER ACADEMICO

<h1>Referencias personales</h1>
<table class="table table-striped table-hover">
    <tr>
        <th>Nombre</th>
        <th>Ocupacion</th>
        <th>Telefono</th>
        <th>Ciudad</th>
    </tr>
    <tr>
      <td>Jesús Ramiro Zuleta Rondón</td>
      <td>Ingeniero de Sistemas</td>
      <td>3166470628</td>
      <td>Valledupar – cesar</td>
    </tr>
    <tr>
        <td>Jorge tomas Bendeck Uribe</td>
        <td>Ingeniero de Sistemas</td>
        <td>3165211333  -  5736779</td>
        <td>Valledupar – cesar</td>
      </tr>
  </table>

    
</body>
</html>